<div class="results">
  <div class="container">
    <h1 class="results__test-title">
      {{title}}
    </h1>
    <div class="flex-container">
      <p class="results__link">
        Link to survey
        <a href={{testLink}}>
          {{testLink}}
        </a>
      </p>
      <button type="button" class="results__delete">
        Delete test
      </button>
    </div>
    {{#if answersCount}}
      {{#each answers}}
        <p class="results__caption">
          Answers:
        </p>
        <div class="results__item">
          <h3 class="results__item-number">
            Answer №
            {{addOne @index}}
          </h3>
          {{#each (returnAnswers this)}}
            {{#each (objEntries this)}}
              {{#each this}}
                {{#if (isQue this @index)}}
                  <h4 class="results__item-que">
                    {{this}}
                  </h4>
                {{else}}
                  <p class="results__item-answer">
                    {{this}}
                  </p>
                {{/if}}
              {{/each}}
            {{/each}}
          {{/each}}
        </div>
      {{/each}}
    {{else}}
      <p class="results__message">
        No answers for this survey
      </p>
    {{/if}}
  </div>
</div>